# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Vite
.vite/

# Serverless
.serverless/
.offline/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# HMS Specific
uploaded_media_*.png
*.log
